@charset "UTF-8";
body {
  background: url("../img/bg.jpg") repeat; }

.container {
  position: relative; }

.side-bar {
  z-index: 1;
  float: left;
  width: 20%;
  margin-right: -1px;
  margin-top: 50px;
  background: rgba(82, 165, 70, 0.8);
  min-height: 730px; }
  .side-bar .side-ul {
    margin: 20px 0 0 0;
    padding: 0; }
    .side-bar .side-ul a {
      display: block;
      height: 70px;
      line-height: 70px;
      width: 65%;
      color: #fff;
      padding-left: 35%;
      font-size: 18px; }
      .side-bar .side-ul a.icon1 {
        background: url(../img/icons.png) no-repeat 15px 18px; }
      .side-bar .side-ul a.icon2 {
        background: url(../img/icons.png) no-repeat 15px -50px; }
      .side-bar .side-ul a.icon3 {
        background: url(../img/icons.png) no-repeat 15px -125px; }
      .side-bar .side-ul a.icon4 {
        background: url(../img/icons.png) no-repeat 15px -200px; }
      .side-bar .side-ul a.icon5 {
        background: url(../img/icons.png) no-repeat 15px -275px; }
      .side-bar .side-ul a.icon6 {
        background: url(../img/icons.png) no-repeat 15px -350px; }
      .side-bar .side-ul a.icon7 {
        background: url(../img/icons.png) no-repeat 15px -422px; }
      .side-bar .side-ul a.icon8 {
        background: url(../img/icons.png) no-repeat 15px -495px; }
      .side-bar .side-ul a.cur {
        background-color: rgba(255, 255, 255, 0.3); }
      .side-bar .side-ul a:hover {
        background-color: rgba(255, 255, 255, 0.3);
        text-decoration: none; }
  .side-bar .side-hd img {
    width: 80px;
    height: 80px;
    border: 3px solid #ccc;
    margin: -30px 0 0 20px; }
  .side-bar .side-ft {
    margin-top: 20px;
    border-top: 2px solid #ccc; }
    .side-bar .side-ft p a {
      display: inline-block;
      height: 50px;
      width: 50px;
      margin-left: 20px; }
    .side-bar .side-ft .cert-icon {
      position: relative;
      background: url(../img/icons.png) no-repeat 10px -580px; }
      .side-bar .side-ft .cert-icon .cert-num {
        position: absolute;
        width: 12px;
        height: 12px;
        line-height: 14px;
        top: 10px;
        right: 5px;
        font-style: normal;
        font-size: 8px;
        -webkit-text-size-adjust: none;
        background: red;
        color: #fff;
        text-align: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%; }
    .side-bar .side-ft .search-icon {
      background: url(../img/icons.png) no-repeat 10px -645px; }

.main-wrapper {
  position: absolute;
  z-index: 20;
  left: 20%;
  width: 80%;
  overflow: hidden;
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px #666666;
  box-shadow: 0px 0px 10px #666666;
  min-height: 780px;
  background: #fff; }
  .main-wrapper .nav {
    width: 80%;
    height: 50px;
    position: fixed;
    z-index: 99;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #666;
    -webkit-appearance: none;
    -webkit-box-shadow: 0px 0px 10px #666666;
    box-shadow: 0px 0px 10px #666666;
    background: linear-gradient(white, #d8d8d8);
    background: -webkit-linear-gradient(white, #d8d8d8);
    background: -moz-linear-gradient(white, #d8d8d8); }
    .main-wrapper .nav h3 {
      width: 50%;
      text-align: center;
      line-height: 50px;
      font-size: 18px;
      color: #666;
      margin: 0 auto; }
      .main-wrapper .nav h3 .addr-choose {
        cursor: pointer;
        margin-left: 5px;
        font-size: 12px;
        color: #999;
        position: relative; }
        .main-wrapper .nav h3 .addr-choose .triangle {
          position: absolute;
          left: 30px;
          top: 5px;
          border-right: 4px solid transparent;
          border-top: 4px solid #999;
          border-left: 4px solid transparent;
          content: ""; }
  .main-wrapper .nav-place {
    width: 80%;
    height: 50px; }
  .main-wrapper .loading {
    position: fixed;
    z-index: 98;
    width: 80%;
    height: 100px;
    background: url(../img/loading.gif) no-repeat center bottom; }
  .main-wrapper .slider {
    width: 100%;
    height: 186px;
    overflow: hidden; }
    .main-wrapper .slider .swiper-wrapper {
      width: 100%; }
      .main-wrapper .slider .swiper-wrapper .swiper-slide {
        float: left;
        width: 100%; }
        .main-wrapper .slider .swiper-wrapper .swiper-slide img {
          width: 100%;
          height: 186px; }

.banner-cat {
  background: #fff;
  width: 100%;
  height: 50px;
  line-height: 50px;
  -webkit-box-shadow: 0px 0px 8px #aaaaaa;
  box-shadow: 0px 0px 8px #aaaaaa; }
  .banner-cat ul {
    /*模拟*/
    width: 360px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto; }
    .banner-cat ul:before, .banner-cat ul:after {
      content: "";
      display: table; }
    .banner-cat ul:after {
      clear: both; }
    .banner-cat ul li {
      float: left;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-right: 1px solid #ddd; }
      .banner-cat ul li a {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        width: 80px;
        font-size: 14px;
        color: #666; }
        .banner-cat ul li a:hover {
          text-decoration: none;
          background: #eee; }
      .banner-cat ul li:last-child {
        border-right: none; }

.goods-list {
  padding: 10px 0; }
  .goods-list:before, .goods-list:after {
    content: "";
    display: table; }
  .goods-list:after {
    clear: both; }
  .goods-list h3 {
    position: relative;
    border-bottom: 1px solid #bbb; }
    .goods-list h3 a {
      font-size: 18px;
      line-height: 35px;
      padding: 0 10px;
      color: #666;
      cursor: pointer; }
      .goods-list h3 a:hover {
        text-decoration: none; }
    .goods-list h3 .more {
      position: absolute;
      color: #999;
      right: 0;
      top: 4px; }
      .goods-list h3 .more:hover {
        color: #666; }
  .goods-list ul {
    padding-right: 10px; }
    .goods-list ul:before, .goods-list ul:after {
      content: "";
      display: table; }
    .goods-list ul:after {
      clear: both; }
    .goods-list ul li {
      position: relative;
      float: left;
      width: 20%;
      margin: 10px 0 0 0; }
      .goods-list ul li .pro-mod {
        margin-left: 10px;
        background: #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); }
        .goods-list ul li .pro-mod .pro-img, .goods-list ul li .pro-mod .pro-img img, .goods-list ul li .pro-mod .pro-name, .goods-list ul li .pro-mod .pro-spec, .goods-list ul li .pro-mod .pro-price {
          height: 150px;
          width: 150px;
          width: 100%;
          overflow: hidden; }
        .goods-list ul li .pro-mod .pro-img img {
          width: 100%;
          -webkit-border-radius: 5px 5px 0px 0px;
          -moz-border-radius: 5px 5px 0px 0px;
          -ms-border-radius: 5px 5px 0px 0px;
          -o-border-radius: 5px 5px 0px 0px;
          border-radius: 5px 5px 0px 0px; }
        .goods-list ul li .pro-mod .pro-name {
          height: 25px;
          line-height: 25px;
          color: #666;
          font-size: 13px;
          margin: 10px 5px 0 5px; }
        .goods-list ul li .pro-mod .pro-spec, .goods-list ul li .pro-mod .pro-price {
          line-height: 22px;
          height: 22px; }
        .goods-list ul li .pro-mod .pro-spec, .goods-list ul li .pro-mod .pro-price {
          margin: 0 5px; }
        .goods-list ul li .pro-mod .mr10 {
          margin-right: 10px; }
        .goods-list ul li .pro-mod .ml10 {
          margin-left: 10px; }
        .goods-list ul li .pro-mod .pro-spec, .goods-list ul li .pro-mod .pro-price del {
          color: #999; }
        .goods-list ul li .pro-mod .pro-price {
          color: #269336;
          padding-bottom: 5px; }

.search-form {
  width: 90%;
  margin: 30px auto; }
  .search-form input[type="text"], .search-form button {
    display: inline-block;
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
    margin: 0; }
  .search-form input[type="text"] {
    background: url(../img/icons.png) no-repeat 10px -748px;
    padding: 10px 50px;
    width: 480px;
    font-size: 20px;
    line-height: 20px;
    height: 38px;
    border: 1px solid #ccc;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    /*pad -webkit-appearance: caret; */ }
  .search-form button {
    color: #fff;
    background: #259335;
    font-size: 20px;
    width: 100px;
    border: none; }

.cert-list li {
  height: 160px;
  border-bottom: 1px solid #ccc;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(216, 216, 216, 0.5));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(216, 216, 216, 0.5));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.5), rgba(216, 216, 216, 0.5)); }
  .cert-list li:before, .cert-list li:after {
    content: "";
    display: table; }
  .cert-list li:after {
    clear: both; }
  .cert-list li .list-item {
    margin: 0;
    height: 161px; }
    .cert-list li .list-item:before, .cert-list li .list-item:after {
      content: "";
      display: table; }
    .cert-list li .list-item:after {
      clear: both; }
    .cert-list li .list-item .item-img {
      margin: 5px 15px 0 15px;
      float: left; }
      .cert-list li .list-item .item-img img {
        width: 145px;
        height: 145px; }
    .cert-list li .list-item .item-dec {
      width: 300px;
      float: left;
      margin-right: 30px;
      color: #676767; }
      .cert-list li .list-item .item-dec h5 {
        margin: 15px 0 0 0;
        font-size: 18px; }
      .cert-list li .list-item .item-dec p {
        font-size: 14px; }
    .cert-list li .list-item .item-addremove {
      float: left;
      height: 161px; }
      .cert-list li .list-item .item-addremove .act-add, .cert-list li .list-item .item-addremove .act-remove {
        border: none;
        display: block;
        background: #259335;
        color: #fff;
        font-size: 60px;
        width: 80px;
        height: 80px;
        line-height: 80px;
        border: none;
        text-align: center;
        text-decoration: none;
        cursor: pointer; }
    .cert-list li .list-item .endprice {
      float: left;
      font-size: 22px;
      width: 150px;
      height: 160px;
      line-height: 160px;
      color: #656565;
      text-align: center; }
      .cert-list li .list-item .endprice span {
        margin: 0 15px; }
        .cert-list li .list-item .endprice span.g-hl {
          color: #259335; }

.main-action {
  margin: 0;
  position: fixed;
  z-index: 98;
  width: 80%;
  bottom: 0px;
  left: 20%;
  right: 1px;
  height: 60px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 0 10px; }
  .main-action:before, .main-action:after {
    content: "";
    display: table; }
  .main-action:after {
    clear: both; }
  .main-action .total-price {
    color: #259335;
    margin-left: 10px;
    float: left;
    line-height: 60px;
    font-size: 34px;
    font-weight: bold; }
  .main-action .go-pay {
    margin-right: 20px;
    float: right; }
    .main-action .go-pay button {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 5px;
      box-shadow: 5px;
      border: none;
      background: #259335;
      font-size: 25px;
      height: 48px;
      line-height: 48px;
      vertical-align: middle;
      margin-top: 6px;
      color: #fff;
      width: 216px;
      text-align: center; }

.cate-banner img {
  width: 100%;
  height: 187px; }

.cate-list ul:before, .cate-list ul:after {
  content: "";
  display: table; }
.cate-list ul:after {
  clear: both; }
.cate-list ul li {
  float: left;
  width: 50%;
  height: 70px; }
  .cate-list ul li a {
    color: #676767;
    display: inline-block;
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(216, 216, 216, 0.5));
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(216, 216, 216, 0.5));
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.5), rgba(216, 216, 216, 0.5)); }
  .cate-list ul li span {
    float: right;
    margin-right: 20px; }

.nav ul.filter {
  width: 528px;
  margin: 6px auto; }
  .nav ul.filter:before, .nav ul.filter:after {
    content: "";
    display: table; }
  .nav ul.filter:after {
    clear: both; }
  .nav ul.filter li {
    float: left;
    display: inline-block;
    width: 130px;
    height: 36px;
    border: 1px solid #249335;
    border-right: none; }
    .nav ul.filter li a {
      color: #249335;
      background: #fff;
      float: left;
      margin: 0;
      display: inline-block;
      width: 130px;
      height: 36px;
      line-height: 36px;
      text-align: center; }
    .nav ul.filter li:last-child {
      border-right: 1px solid #249335; }
    .nav ul.filter li.cur a {
      background: #249335;
      color: #fff; }

.list-wrapper {
  width: 100%; }
  .list-wrapper ul li .pro-img {
    border-bottom: 1px solid #249335; }

.product-area {
  color: #656565; }
  .product-area:before, .product-area:after {
    content: "";
    display: table; }
  .product-area:after {
    clear: both; }
  .product-area .product-detail {
    background: #fff;
    padding: 8px;
    -webkit-box-shadow: 0px 0px 3px #666666;
    box-shadow: 0px 0px 3px #666666;
    margin: 8px; }
    .product-area .product-detail:before, .product-area .product-detail:after {
      content: "";
      display: table; }
    .product-area .product-detail:after {
      clear: both; }
    .product-area .product-detail .product-img {
      float: left; }
      .product-area .product-detail .product-img img {
        width: 350px;
        height: 350px; }
    .product-area .product-detail .product-spec {
      width: 45%;
      overflow: hidden;
      float: left;
      margin-left: 20px; }
      .product-area .product-detail .product-spec ul li {
        margin: 10px 0;
        color: #ccc;
        width: 100%;
        border-bottom: 1px solid #ccc;
        line-height: 30px;
        font-size: 14px; }
        .product-area .product-detail .product-spec ul li:before, .product-area .product-detail .product-spec ul li:after {
          content: "";
          display: table; }
        .product-area .product-detail .product-spec ul li:after {
          clear: both; }
        .product-area .product-detail .product-spec ul li .hl {
          color: #656565; }
        .product-area .product-detail .product-spec ul li .g-hl {
          margin: 0 20px 0 10px;
          font-size: 18px;
          color: #269335; }
        .product-area .product-detail .product-spec ul li .spec-list {
          height: 30px;
          margin: 10px 0; }
          .product-area .product-detail .product-spec ul li .spec-list a {
            width: 50%;
            display: block;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #656565;
            border: 1px solid #239335;
            text-decoration: none; }
        .product-area .product-detail .product-spec ul li .jiajian {
          float: right;
          margin-bottom: 10px; }
          .product-area .product-detail .product-spec ul li .jiajian span {
            position: relative;
            font-size: 14px;
            line-height: 25px;
            color: #269336;
            border: 1px solid #269336;
            width: 26px;
            height: 26px;
            display: block;
            float: left;
            text-align: center; }
            .product-area .product-detail .product-spec ul li .jiajian span.num {
              width: auto;
              min-width: 30px;
              padding: 0 5px;
              display: inline-block;
              border-left: none;
              border-right: none; }
          .product-area .product-detail .product-spec ul li .jiajian span::after, .product-area .product-detail .product-spec ul li .jiajian span.plus::before {
            content: '';
            width: 18px;
            height: 1px;
            background: #269336;
            position: absolute;
            left: 4px;
            top: 13px; }
          .product-area .product-detail .product-spec ul li .jiajian span.plus::before {
            -webkit-transform: rotate(90deg); }
          .product-area .product-detail .product-spec ul li .jiajian span.num::after {
            opacity: 0; }
          .product-area .product-detail .product-spec ul li .jiajian span.plus:hover, .product-area .product-detail .product-spec ul li .jiajian span.plus:active, .product-area .product-detail .product-spec ul li .jiajian span.loss:hover, .product-area .product-detail .product-spec ul li .jiajian span.loss:active {
            background: #269336; }
          .product-area .product-detail .product-spec ul li .jiajian span:hover::after, .product-area .product-detail .product-spec ul li .jiajian span:hover::before, .product-area .product-detail .product-spec ul li .jiajian span:active::after, .product-area .product-detail .product-spec ul li .jiajian span:active::before {
            background: #fff; }
      .product-area .product-detail .product-spec .tip {
        font-size: 18px; }
        .product-area .product-detail .product-spec .tip h6 {
          font-weight: normal;
          font-size: 18px;
          padding-left: 10px;
          border-left: 5px solid #269335;
          margin: 20px 0 10px 0; }
        .product-area .product-detail .product-spec .tip p {
          margin: 0;
          padding-top: 10px;
          border-top: 2px solid #656565; }
  .product-area .product-dec {
    font-size: 18px;
    background: #fff;
    padding: 8px;
    -webkit-box-shadow: 0px 0px 3px #666666;
    box-shadow: 0px 0px 3px #666666;
    margin: 8px 8px 68px 8px; }
    .product-area .product-dec:before, .product-area .product-dec:after {
      content: "";
      display: table; }
    .product-area .product-dec:after {
      clear: both; }
    .product-area .product-dec h5 {
      font-size: 18px;
      width: 177px;
      background: #249336;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #fff;
      margin: 5px 0 20px -8px; }

.user-center {
  background: #dedede; }
  .user-center:before, .user-center:after {
    content: "";
    display: table; }
  .user-center:after {
    clear: both; }
  .user-center .user-side {
    min-height: 750px;
    float: left;
    width: 25%;
    background: #fff;
    border-right: 1px solid #ddd; }
    .user-center .user-side ul li {
      height: 72px;
      text-align: center;
      font-size: 20px;
      border-bottom: 1px solid #ddd; }
      .user-center .user-side ul li a {
        display: block;
        height: 72px;
        line-height: 72px;
        color: #676767;
        text-decoration: none;
        cursor: pointer; }
        .user-center .user-side ul li a.cur {
          background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(216, 216, 216, 0.3));
          background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(216, 216, 216, 0.3));
          background: -moz-linear-gradient(rgba(255, 255, 255, 0.3), rgba(216, 216, 216, 0.3)); }
  .user-center .user-content {
    min-height: 750px;
    float: left; }
    .user-center .user-content .user-main {
      margin: 10px;
      background: #fff;
      border: 1px solid #ddd;
      -webkit-box-shadow: 0px 0px 6px #cccccc;
      box-shadow: 0px 0px 6px #cccccc;
      padding: 10px;
      width: 545px; }
      .user-center .user-content .user-main.info ul {
        margin: 0 auto; }
        .user-center .user-content .user-main.info ul li {
          color: #656565;
          width: 100%;
          border-top: 1px solid #ddd;
          line-height: 44px;
          font-size: 16px; }
          .user-center .user-content .user-main.info ul li:first-child {
            border-top: none; }
          .user-center .user-content .user-main.info ul li .val {
            margin-left: 10px; }
      .user-center .user-content .user-main.info .user-detail:before, .user-center .user-content .user-main.info .user-detail:after {
        content: "";
        display: table; }
      .user-center .user-content .user-main.info .user-detail:after {
        clear: both; }
      .user-center .user-content .user-main.info .user-detail .user-name {
        margin-left: 20px;
        float: left; }
      .user-center .user-content .user-main.info .user-detail .user-img {
        margin: 10px 0;
        float: left; }
        .user-center .user-content .user-main.info .user-detail .user-img img {
          border: 3px solid #ccc;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          -o-border-radius: 3px;
          border-radius: 3px;
          width: 83px;
          height: 83px; }
      .user-center .user-content .user-main.info .user-detail .red-hl {
        color: #A40E1B; }
      .user-center .user-content .user-main.order .order-list .order-item {
        position: relative;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px; }
        .user-center .user-content .user-main.order .order-list .order-item:before, .user-center .user-content .user-main.order .order-list .order-item:after {
          content: "";
          display: table; }
        .user-center .user-content .user-main.order .order-list .order-item:after {
          clear: both; }
        .user-center .user-content .user-main.order .order-list .order-item .order-img {
          float: left; }
          .user-center .user-content .user-main.order .order-list .order-item .order-img img {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
            width: 144px;
            height: 96px; }
        .user-center .user-content .user-main.order .order-list .order-item .order-detail {
          float: left;
          margin-left: 10px; }
          .user-center .user-content .user-main.order .order-list .order-item .order-detail ul li {
            font-size: 18px;
            height: 32px;
            line-height: 32px;
            color: #656565; }
            .user-center .user-content .user-main.order .order-list .order-item .order-detail ul li .price {
              font-size: 22px;
              color: #269335; }
            .user-center .user-content .user-main.order .order-list .order-item .order-detail ul li .num {
              color: #999; }
        .user-center .user-content .user-main.order .order-list .order-item .more {
          text-decoration: none;
          color: #656565;
          font-size: 20px;
          position: absolute;
          top: 40%;
          right: 5%;
          display: block;
          width: 12px;
          height: 16px; }
      .user-center .user-content .user-main.addr h5 {
        position: relative;
        margin: 10px;
        padding-bottom: 10px;
        font-size: 22px;
        font-weight: normal;
        color: #000;
        border-bottom: 1px solid #ddd; }
        .user-center .user-content .user-main.addr h5 .addaddr {
          width: 30px;
          height: 30px;
          line-height: 20px;
          position: absolute;
          right: 0;
          top: 0;
          font-size: 60px;
          color: #e3e3e3;
          text-decoration: none; }
      .user-center .user-content .user-main.addr ul:before, .user-center .user-content .user-main.addr ul:after {
        content: "";
        display: table; }
      .user-center .user-content .user-main.addr ul:after {
        clear: both; }
      .user-center .user-content .user-main.addr ul li {
        color: #656565;
        margin: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd; }

.choose-addr-wrapper {
  background: #fff;
  padding: 10px;
  width: 50%;
  height: 200px; }

.overlay {
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  width: 80%;
  display: none; }

.category {
  z-index: 21; }

.list {
  z-index: 22; }

.product {
  z-index: 23; }
