@charset "UTF-8";
body {
  background: url("../img/bg.jpg") repeat; }

.container {
  position: relative; }

.side-bar {
  position: absolute;
  z-index: 1;
  float: left;
  width: 20%;
  /*模拟*/
  height: 950px;
  margin-right: -1px;
  margin-top: 50px;
  background: rgba(82, 165, 70, 0.8); }
  .side-bar .side-ul {
    margin: 20px 0 0 0;
    padding: 0; }
    .side-bar .side-ul a {
      display: block;
      height: 70px;
      line-height: 70px;
      width: 65%;
      color: #fff;
      padding-left: 35%;
      font-size: 18px; }
      .side-bar .side-ul a.icon1 {
        background: url(../img/icons.png) no-repeat 15px 18px; }
      .side-bar .side-ul a.icon2 {
        background: url(../img/icons.png) no-repeat 15px -50px; }
      .side-bar .side-ul a.icon3 {
        background: url(../img/icons.png) no-repeat 15px -125px; }
      .side-bar .side-ul a.icon4 {
        background: url(../img/icons.png) no-repeat 15px -200px; }
      .side-bar .side-ul a.icon5 {
        background: url(../img/icons.png) no-repeat 15px -275px; }
      .side-bar .side-ul a.icon6 {
        background: url(../img/icons.png) no-repeat 15px -350px; }
      .side-bar .side-ul a.icon7 {
        background: url(../img/icons.png) no-repeat 15px -422px; }
      .side-bar .side-ul a.icon8 {
        background: url(../img/icons.png) no-repeat 15px -495px; }
      .side-bar .side-ul a.cur {
        background-color: rgba(255, 255, 255, 0.3); }
      .side-bar .side-ul a:hover {
        background-color: rgba(255, 255, 255, 0.3);
        text-decoration: none; }
  .side-bar .side-hd img {
    width: 80px;
    height: 80px;
    border: 3px solid #ccc;
    margin: -30px 0 0 50px; }
  .side-bar .side-ft {
    margin-top: 20px;
    border-top: 2px solid #ccc; }
    .side-bar .side-ft p a {
      display: inline-block;
      height: 50px;
      width: 50px;
      margin-left: 20px; }
    .side-bar .side-ft .cert-icon {
      position: relative;
      background: url(../img/icons.png) no-repeat 10px -580px; }
      .side-bar .side-ft .cert-icon .cert-num {
        position: absolute;
        width: 12px;
        height: 12px;
        line-height: 14px;
        top: 10px;
        right: 5px;
        font-style: normal;
        font-size: 8px;
        -webkit-text-size-adjust: none;
        background: red;
        color: #fff;
        text-align: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%; }
    .side-bar .side-ft .search-icon {
      background: url(../img/icons.png) no-repeat 10px -645px; }

.main-wrapper {
  position: absolute;
  z-index: 200;
  left: 20%;
  width: 80%;
  overflow: hidden;
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px #666666;
  box-shadow: 0px 0px 10px #666666;
  background: #fff;
  height: 1000px; }
  .main-wrapper .nav {
    width: 80%;
    height: 50px;
    position: fixed;
    z-index: 99;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #666;
    -webkit-box-shadow: 0px 4px 6px #999999;
    box-shadow: 0px 4px 6px #999999;
    background: linear-gradient(white, #d8d8d8);
    background: -webkit-linear-gradient(white, #d8d8d8);
    background: -moz-linear-gradient(white, #d8d8d8); }
    .main-wrapper .nav h3 {
      width: 50%;
      text-align: center;
      line-height: 50px;
      font-size: 18px;
      color: #666;
      margin: 0 auto; }
      .main-wrapper .nav h3 .addr-choose {
        cursor: pointer;
        margin-left: 5px;
        font-size: 12px;
        color: #999;
        position: relative; }
        .main-wrapper .nav h3 .addr-choose .triangle {
          position: absolute;
          left: 30px;
          top: 5px;
          border-right: 4px solid transparent;
          border-top: 4px solid #999;
          border-left: 4px solid transparent;
          content: ""; }
  .main-wrapper .nav-place {
    width: 80%;
    height: 53px; }
  .main-wrapper .loading {
    position: fixed;
    z-index: 98;
    width: 80%;
    height: 100px;
    background: url(../img/loading.gif) no-repeat center bottom; }
  .main-wrapper #slider {
    width: 100%;
    height: 186px;
    overflow: hidden; }

.banner-cat {
  background: #fff;
  width: 100%;
  height: 50px;
  line-height: 50px;
  -webkit-box-shadow: 0px 0px 8px #aaaaaa;
  box-shadow: 0px 0px 8px #aaaaaa; }
  .banner-cat ul {
    /*模拟*/
    width: 360px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto; }
    .banner-cat ul:before, .banner-cat ul:after {
      content: "";
      display: table; }
    .banner-cat ul:after {
      clear: both; }
    .banner-cat ul li {
      float: left;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-right: 1px solid #ddd; }
      .banner-cat ul li a {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        width: 80px;
        font-size: 14px;
        color: #666; }
        .banner-cat ul li a:hover {
          text-decoration: none;
          background: #eee; }
      .banner-cat ul li:last-child {
        border-right: none; }

.goods-list {
  padding: 10px 0; }
  .goods-list:before, .goods-list:after {
    content: "";
    display: table; }
  .goods-list:after {
    clear: both; }
  .goods-list h3 {
    position: relative;
    border-bottom: 1px solid #bbb; }
    .goods-list h3 a {
      font-size: 18px;
      line-height: 35px;
      padding: 0 10px;
      color: #666;
      cursor: pointer; }
      .goods-list h3 a:hover {
        text-decoration: none; }
    .goods-list h3 .more {
      position: absolute;
      color: #999;
      right: 0;
      top: 4px; }
      .goods-list h3 .more:hover {
        color: #666; }
  .goods-list ul {
    padding-right: 10px; }
    .goods-list ul:before, .goods-list ul:after {
      content: "";
      display: table; }
    .goods-list ul:after {
      clear: both; }
    .goods-list ul li {
      position: relative;
      float: left;
      width: 20%;
      margin: 10px 0 0 0; }
      .goods-list ul li .pro-mod {
        margin-left: 10px;
        background: #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); }
        .goods-list ul li .pro-mod .pro-img, .goods-list ul li .pro-mod .pro-img img, .goods-list ul li .pro-mod .pro-name, .goods-list ul li .pro-mod .pro-spec, .goods-list ul li .pro-mod .pro-price {
          height: 150px;
          width: 150px;
          width: 100%;
          overflow: hidden; }
        .goods-list ul li .pro-mod .pro-img img {
          width: 100%;
          -webkit-border-radius: 5px 5px 0px 0px;
          -moz-border-radius: 5px 5px 0px 0px;
          -ms-border-radius: 5px 5px 0px 0px;
          -o-border-radius: 5px 5px 0px 0px;
          border-radius: 5px 5px 0px 0px; }
        .goods-list ul li .pro-mod .pro-name {
          height: 25px;
          line-height: 25px;
          color: #666;
          font-size: 13px;
          margin: 10px 5px 0 5px; }
        .goods-list ul li .pro-mod .pro-spec, .goods-list ul li .pro-mod .pro-price {
          line-height: 22px;
          height: 22px; }
        .goods-list ul li .pro-mod .pro-spec, .goods-list ul li .pro-mod .pro-price {
          margin: 0 5px; }
        .goods-list ul li .pro-mod .mr10 {
          margin-right: 10px; }
        .goods-list ul li .pro-mod .ml10 {
          margin-left: 10px; }
        .goods-list ul li .pro-mod .pro-spec, .goods-list ul li .pro-mod .pro-price del {
          color: #999; }
        .goods-list ul li .pro-mod .pro-price {
          color: #269336;
          padding-bottom: 5px; }

.search-form {
  width: 90%;
  margin: 30px auto; }
  .search-form input[type="text"], .search-form button {
    display: inline-block;
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
    margin: 0; }
  .search-form input[type="text"] {
    padding: 10px 50px;
    width: 480px;
    font-size: 20px;
    line-height: 20px;
    height: 38px;
    border: 1px solid #ccc; }
  .search-form button {
    color: #fff;
    background: #259335;
    font-size: 20px;
    width: 100px;
    border: none; }

.cert-list li {
  height: 160px;
  border-bottom: 1px solid #ccc;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(216, 216, 216, 0.5));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(216, 216, 216, 0.5));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.5), rgba(216, 216, 216, 0.5)); }
  .cert-list li:before, .cert-list li:after {
    content: "";
    display: table; }
  .cert-list li:after {
    clear: both; }
  .cert-list li .list-item {
    margin: 0;
    height: 160px; }
    .cert-list li .list-item:before, .cert-list li .list-item:after {
      content: "";
      display: table; }
    .cert-list li .list-item:after {
      clear: both; }
    .cert-list li .list-item .item-img {
      margin: 5px 15px 0 15px;
      float: left; }
      .cert-list li .list-item .item-img img {
        width: 145px;
        height: 145px; }
    .cert-list li .list-item .item-dec {
      width: 300px;
      float: left;
      margin-right: 30px;
      color: #676767; }
      .cert-list li .list-item .item-dec h5 {
        margin: 15px 0 0 0;
        font-size: 18px; }
      .cert-list li .list-item .item-dec p {
        font-size: 14px; }
    .cert-list li .list-item .item-addremove {
      float: left; }
      .cert-list li .list-item .item-addremove .act-add, .cert-list li .list-item .item-addremove .act-remove {
        border: none;
        display: block;
        background: #259335;
        color: #fff;
        font-size: 60px;
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-bottom: 1px solid #fff;
        text-align: center; }
    .cert-list li .list-item .endprice {
      float: left;
      font-size: 22px;
      width: 150px;
      height: 160px;
      line-height: 160px;
      color: #656565;
      text-align: center; }
      .cert-list li .list-item .endprice span {
        margin: 0 15px; }
        .cert-list li .list-item .endprice span.g-hl {
          color: #259335; }

.main-action {
  position: fixed;
  z-index: 98;
  width: 80%;
  bottom: 0;
  height: 60px;
  background: #fff;
  border-top: 1px solid #ccc;
  padding: 0 10px; }
  .main-action:before, .main-action:after {
    content: "";
    display: table; }
  .main-action:after {
    clear: both; }
  .main-action .total-price {
    color: #259335;
    margin-left: 10px;
    float: left;
    line-height: 60px;
    font-size: 34px;
    font-weight: bold; }
  .main-action .go-pay {
    margin-right: 20px;
    float: right; }
    .main-action .go-pay button {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 5px;
      box-shadow: 5px;
      border: none;
      background: #259335;
      font-size: 25px;
      height: 48px;
      line-height: 48px;
      vertical-align: middle;
      margin-top: 6px;
      color: #fff;
      width: 216px;
      text-align: center; }

.cate-banner img {
  width: 80%;
  height: 187px; }

.cate-list ul:before, .cate-list ul:after {
  content: "";
  display: table; }
.cate-list ul:after {
  clear: both; }
.cate-list ul li {
  float: left;
  width: 40%;
  height: 70px; }
  .cate-list ul li a {
    color: #676767;
    display: inline-block;
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(216, 216, 216, 0.5));
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(216, 216, 216, 0.5));
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.5), rgba(216, 216, 216, 0.5)); }
  .cate-list ul li span {
    float: right;
    margin-right: 20px; }

.list .nav ul {
  width: 528px;
  margin: 6px auto; }
  .list .nav ul:before, .list .nav ul:after {
    content: "";
    display: table; }
  .list .nav ul:after {
    clear: both; }
  .list .nav ul li {
    float: left;
    display: inline-block;
    width: 130px;
    height: 36px;
    border: 1px solid #249335;
    border-right: none; }
    .list .nav ul li a {
      color: #249335;
      background: #fff;
      float: left;
      margin: 0;
      display: inline-block;
      width: 130px;
      height: 36px;
      line-height: 36px;
      text-align: center; }
    .list .nav ul li:last-child {
      border-right: 1px solid #249335; }
    .list .nav ul li.cur a {
      background: #249335;
      color: #fff; }
.list .list-wrapper {
  width: 80%; }
  .list .list-wrapper ul li .pro-img {
    border-bottom: 1px solid #249335; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate(110%, 0);
  -ms-transform: translate(110%, 0);
  transform: translate(110%, 0);
  z-index: 200;
  width: 100%; }

.go-deep {
  -webkit-transform: translate(20%, 0);
  -ms-transform: translate(20%, 0);
  transform: translate(20%, 0); }

.go-middle {
  -webkit-transform: translate(20%, 0);
  -ms-transform: translate(20%, 0);
  transform: translate(20%, 0); }
