@import "functions.scss";
@import "animate.scss";

$base_color:#209E35;

body{
    background:url('../img/bg.jpg') repeat;
}

.container{
    position:relative;
}
.side-bar{
    z-index:1;
    float:left;
    width:20%;
    margin-right:-1px;
    margin-top:50px;
    background:rgba(82,165,70,.8);
    min-height:730px;
    .side-ul{
        margin:20px 0 0 0;
        padding:0;
        a{
            display:block;
            height:70px;
            line-height:70px;
            width:65%;
            color:#fff;
            padding-left:35%;
            font-size:18px;
            &.icon1{
                background:url(../img/icons.png) no-repeat 15px 18px; 
            }
            &.icon2{
                background:url(../img/icons.png) no-repeat 15px -50px; 
            }
            &.icon3{
                background:url(../img/icons.png) no-repeat 15px -125px; 
            }
            &.icon4{
                background:url(../img/icons.png) no-repeat 15px -200px; 
            }
            &.icon5{
                background:url(../img/icons.png) no-repeat 15px -275px; 
            }
            &.icon6{
                background:url(../img/icons.png) no-repeat 15px -350px; 
            }
            &.icon7{
                background:url(../img/icons.png) no-repeat 15px -422px; 
            }
            &.icon8{
                background:url(../img/icons.png) no-repeat 15px -495px; 
            }
            &.cur{
                background-color:rgba(255,255,255,.3); 
            }
            &:hover{
                background-color:rgba(255,255,255,.3); 
                text-decoration:none; 
            }
        }
    }
    .side-hd{
        img{
            width:80px; 
            height:80px; 
            border:3px solid #ccc;
            margin:-30px 0 0 20px;
        }    
    }
    .side-ft{
        margin-top:20px;
        border-top:2px solid #ccc; 
        p a{
            display:inline-block; 
            height:50px;
            width:50px;
            margin-left:20px;
        }
        .cert-icon{
                position:relative;
                background:url(../img/icons.png) no-repeat 10px -580px; 
                .cert-num{
                    position:absolute; 
                    width:12px;
                    height:12px;
                    line-height:14px;
                    top:10px;
                    right:5px;
                    font-style:normal;
                    font-size:8px;
                    -webkit-text-size-adjust:none;
                    background:red;
                    color:#fff;
                    text-align:center;
                    @include border-radius(50%);
                }
        }
        .search-icon{
                background:url(../img/icons.png) no-repeat 10px -645px; 
        }
    }
}
.main-wrapper{
    position:absolute;
    z-index:20;
    left:20%;
    width:80%;
    overflow:hidden;
    float:right;
    @include border-radius(5px);
    @include box-shadow(0px 0px 10px #666);
    min-height:780px;
    background:#fff;
    .nav{
        width:80%;
        height:50px;
        position:fixed;
        z-index:99;
        text-align:center;
        line-height:50px;
        font-size:18px;
        color:#666;
        -webkit-appearance: none;
        @include box-shadow(0px 0px 10px #666);
        @include linear-gradient(rgba(255,255,255,1),rgba(216,216,216,1));
        h3{
            width:50%;
            text-align:center; 
            line-height:50px;
            font-size:18px;
            color:#666;
            margin:0 auto;
            .addr-choose{
                cursor:pointer;
                margin-left:5px;
                font-size: 12px;
                color: #999;
                position: relative;
                .triangle{
                    position:absolute;
                    left:30px;
                    top:5px;
                    border-right:4px solid transparent;
                    border-top:4px solid #999;
                    border-left:4px solid transparent;
                    content:''
                }
            }
        }
    }
    .nav-place{
        width:80%;
        height:50px;
    }
    .loading{
        position:fixed;
        z-index:98;
        width:80%;
        height:100px; 
        background:url(../img/loading.gif) no-repeat center bottom;
    }
    #slider{
        width:100%;
        height:186px;
        overflow:hidden;
    }
}

.banner-cat{
    background:#fff;
    width:100%;
    height:50px;
    line-height:50px;
    @include box-shadow(0px 0px 8px #aaa);
    ul{
        /*模拟*/
        width:360px;
        @include clearfix();
        height:50px;
        line-height:50px;
        margin:0 auto;
        li{
            float:left;
            height:50px;
            line-height:50px;
            text-align:center;
            border-right:1px solid #ddd;
            a{
                display:inline-block;
                height:50px;
                line-height:50px;
                width:80px;
                font-size:14px; 
                color:#666;
                &:hover{
                    text-decoration:none; 
                    background:#eee;
                }
            } 
            &:last-child{
                border-right:none;
            }
        } 
    }
}
.goods-list{
    @include clearfix();
    padding:10px 0;
    h3{ 
        position:relative;
        border-bottom:1px solid #bbb;
        a{
            font-size:18px; 
            line-height:35px;
            padding:0 10px;
            color:#666;
            cursor:pointer;
            &:hover{
                text-decoration:none; 
            }
        }
        .more{
            position:absolute;
            color:#999;
            right:0;
            top:4px;
            &:hover{
                color:#666;
            }
        }
    }
    ul {
        @include clearfix();
        padding-right:10px;
        li{
            position:relative;
            float:left;
            width:20%;
            margin:10px 0 0 0;
            .pro-mod{
                margin-left:10px;
                background:#fff;
                @include border-radius(5px);
                @include box-shadow(1px 1px 8px rgba(0,0,0,.3));
                .pro-img,.pro-img img,.pro-name,.pro-spec,.pro-price{
                    height:150px;
                    width:150px;
                    width:100%; 
                    overflow:hidden;
                }
                .pro-img img{
                    width:100%;
                    @include border-radius(5px 5px 0px 0px);
                }
                .pro-name{
                    height:25px; 
                    line-height:25px;
                    color:#666;
                    font-size:13px;
                    margin:10px 5px 0 5px;
                }
                .pro-spec,.pro-price{
                    line-height:22px; 
                    height:22px;
                }
                .pro-spec,.pro-price{
                    margin:0 5px;
                }
                .mr10{
                    margin-right:10px;
                }
                .ml10{
                    margin-left:10px;
                }
                .pro-spec,.pro-price del{
                    color:#999;
                }
                .pro-price{
                    color:#269336;
                    padding-bottom:5px;
                }
            }
        }
    }
}
.search-form{
    width:90%;
    margin:30px auto;
    input[type="text"],button{
        display:inline-block;
        vertical-align:middle;
        height:60px; 
        line-height:60px;
        margin:0;
    }
    input[type="text"]{
        padding:10px 50px;
        width:480px;
        font-size:20px;
        line-height:20px;
        height:38px;
        border:1px solid #ccc;
    }
    button{
        color:#fff;
        background:#259335;
        font-size:20px;
        width:100px;
        border:none;
    }
}
.cert-list{
    li{
        @include clearfix();
        height:160px;
        border-bottom:1px solid #ccc;
        @include linear-gradient(rgba(255,255,255,.5),rgba(216,216,216,.5));
        .list-item{
        @include clearfix();
        margin:0;
        height:161px;
        .item-img{
            margin:5px 15px 0 15px;
            float:left;
            img{
                width:145px;
                height:145px;
            } 
        }    
        .item-dec{
            width:300px;
            float:left;
            margin-right:30px;
            color:#676767;
            h5{
                margin:15px 0 0 0; 
                font-size:18px;
            } 
            p{
                font-size:14px;
            }
        }
        .item-addremove{
            float:left;
            height:161px;
            .act-add,.act-remove{
                border:none;
                display:block;
                background:#259335;
                color:#fff;
                font-size:60px;
                width:80px; 
                height:80px;
                line-height:80px;
                border:none;
                text-align:center;
                text-decoration:none;
                cursor:pointer;
            } 
        }
        .endprice{
            float:left;
            font-size:22px;
            width:150px;
            height:160px;
            line-height:160px;
            color:#656565;
            text-align:center;
            span{
                margin:0 15px; 
                &.g-hl{
                    color:#259335;
                }
            }
        }

    }
}
}
.main-action{
   @include clearfix();
   margin:0;
   position:fixed;
   z-index:98;
   width:80%;
   bottom:0px;
   left:20%;
   right:1px;
   height:60px;
   background:#fff;
   border:1px solid #ccc;
   padding:0 10px;
   .total-price{
       color:#259335;
       margin-left:10px;
       float:left;
        line-height:60px;
        font-size:34px; 
        font-weight:bold;
   }
   .go-pay{
       margin-right:20px;
       float:right;
       button{
           @include border-radius(5px);
           @include box-shadow(5px);
           border:none;
           background:#259335;
           font-size:25px;
           height:48px;
           line-height:48px;
           vertical-align:middle;
           margin-top:6px;
           color:#fff;
           width:216px;
           text-align:center;
       }
   }
}

.cate-banner{
    img{
        width:100%;    
        height:187px;
    }
}
.cate-list{
    ul{
        @include clearfix();
        li{
            float:left;
            width:50%;
            height:70px;
           a{
                color:#676767;
                display:inline-block; 
                width:100%;
                height:70px;
                line-height:70px;
                font-size:18px;
                font-weight:bold;
                text-align:center;
                text-decoration:none;
                @include linear-gradient(rgba(255,255,255,.5),rgba(216,216,216,.5));
           }
           span{
                float:right;   
                margin-right:20px;
           }
        } 
    } 
}
.nav{
    ul.filter
    {
        width:528px;
        @include clearfix();
        margin:6px auto;
        li{
            float:left; 
            display:inline-block;
            width:130px; 
            height:36px;
            border:1px solid #249335;
            border-right:none;
            a{
                color:#249335;
                background:#fff;
                float:left; 
                margin:0;
                display:inline-block;
                width:130px; 
                height:36px;
                line-height:36px;
                text-align:center;
            }
            &:last-child{
                border-right:1px solid #249335;
            }
            &.cur a{
                background:#249335;
                color:#fff;
            }
        }
    }
}
.list-wrapper{
    width:100%;
    ul li{
        .pro-img{
            border-bottom:1px solid #249335; 
        }
    }         
}

.product-area{
    @include clearfix();
    color:#656565;
    .product-detail{
        background:#fff;
        padding:8px;
        @include clearfix();
        @include box-shadow(0px 0px 3px #666);
        margin:8px;
        .product-img{
           float:left;
           img{
                width:350px; 
                height:350px;
           }
        }
        .product-spec{
           width:45%;
           overflow:hidden;
           float:left;
           margin-left:20px;
           ul{
                li{
                    @include clearfix();
                    margin:10px 0;
                    color:#ccc;
                    width:100%;
                    border-bottom:1px solid #ccc; 
                    line-height:30px;
                    font-size:14px;
                    .hl{
                        color:#656565; 
                    }
                    .g-hl{
                        margin:0 20px 0 10px;
                        font-size:18px;
                        color:#269335; 
                    }
                    .spec-list{
                        height:30px; 
                        margin:10px 0;
                        a{
                            width:50%;
                            display:block;
                            height:30px;
                            line-height:30px;
                            text-align:center;
                            color:#656565;
                            border:1px solid #239335; 
                            text-decoration:none;
                        }
                    }
                    .jiajian{
                        float:right;
                        margin-bottom:10px;
                         span{
                         position: relative; font-size: 14px; line-height: 25px; color: #269336; border:1px solid #269336;width:26px; height: 26px; display: block; float: left; text-align: center;
                         &.num{
                            width: auto;min-width: 30px; padding: 0 5px; display: inline-block; border-left: none; border-right: none;     
                         }
                         }
                        span::after,span.plus::before{ content: ''; width: 18px; height: 1px; background: #269336; position: absolute;left:4px; top: 13px;}
                        span.plus::before{-webkit-transform: rotate(90deg);}
                        span.num::after{ opacity: 0}
                        span.plus:hover,span.plus:active, span.loss:hover, span.loss:active{ background: #269336}
                        span:hover::after,span:hover::before, span:active::after,span:active::before{ background: #fff}
                    }
                } 
           }
           .tip{
                font-size:18px;
                h6{
                    font-weight:normal;
                    font-size:18px;
                    padding-left:10px;
                    border-left:5px solid #269335;
                    margin:20px 0 10px 0;
                }
                p{
                    margin:0;
                    padding-top:10px;
                    border-top:2px solid #656565;

                }
           }
        }
    }
    .product-dec{
        font-size:18px;
        background:#fff;
        padding:8px;
        @include clearfix();
        @include box-shadow(0px 0px 3px #666);
        margin:8px 8px 68px 8px;
        h5{
            font-size:18px;
            width:177px; 
            background:#249336;
            height:40px;
            line-height:40px;
            text-align:center;
            color:#fff;
            margin:5px 0 20px -8px;
        }
    }
}

.user-center{
    @include clearfix();
    .user-side{
        min-height:750px;
        float:left;
        width:25%;
        background:#fff;
        border-right:1px solid #ddd;
        ul {
            li{
                height:72px; 
                text-align:center;
                font-size:20px;
                border-bottom:1px solid #ddd;
                a{
                    display:block;
                    height:72px;
                    line-height:72px;
                    color:#676767;
                    text-decoration:none;
                    cursor:pointer;
                    &.cur{
                        @include linear-gradient(rgba(255,255,255,.3),rgba(216,216,216,.3));
                    }

                }
            } 
        } 
    }
    .user-content{
        min-height:750px;
        float:left;
        .user-main{
            margin:10px; 
            background:#fff;
            border:1px solid #ddd;
            padding:10px;
            width:520px;
        }
    }
}





.overlay{
    position:absolute;
    @include transition(.3s);
    @include translate(100%,0);
    width:80%;
    display:none;
}
.go-deep{
 //   @include translate(0%,0);
}
.go-middle{
  //  @include translate(0%,0);
}
.go-low{
   // @include translate(0%,0);
}
.category{
    z-index:21;
}
.list{
    z-index:22;
}
.product{
    z-index:23;
}

